
#first{
  margin-top: -5vw;
}
  



  

 

.card{
  border-color: transparent;
 
 
}
#head{
  padding:10vw;
  padding-left: 10vw;
}
#first .card-title{
  font-weight: 600;
}
#first .card-text{
  color: rgb(32, 32, 32);
  font-weight: 400;

}
.Container{
  
  background-color: rgba(235, 186, 146, 0.562);
  height: 40vw;
  
}
.col-md-5 {
  background-image: url("Images/main.jpeg");
  background-size:cover;
height: 40vw;
  
}

.col-md-7{
  padding: 8vw;
}