.navbar{
  background: linear-gradient(44.42deg, #f5e616 28.4%, #d5ff91 52.55%);
}


#first{
  margin-top: -5vw;
}




  

 

.card{
  border-color: transparent;
 
 
}
#head{
  padding:10vw;
  padding-left: 10vw;
 
}
#first .card-title{
  font-weight: 600;
  color: white;
}
#first h2{
  color: yellow;
}

#first .card-text{
  color: rgb(255, 255, 255);
  font-weight: 400;

}
.Container{
  
  background: linear-gradient(44.42deg, #141413 28.4%, #1d0e0e 52.55%);
  height: 50vw;
  overflow: hidden;
  
}
#first .col-md-5 {
  margin-top: 10vw;
  background-image: url("Images/main.jpeg");
  background-size:cover;

border-radius: 30px;
border-color: 2px solid yellow;
height: 40vw;


  
}

.col-md-7{
  padding: 8vw;
}

.vid video{
}





@media screen and (max-width: 480px) {
  #first .col-md-5{
    background-size: cover;
    height: 100vw;
  }

  .Container{
    height: 160vw;
    width: 100%;
    
  }
}




