.navbar{
  background: linear-gradient(44.42deg, #f5e616 28.4%, #d5ff91 52.55%);
}
.navbar .nav-item{
  right: auto;
}


#first{
  margin-top: -5vw;
}




  

 

.card{
  border-color: transparent;
 
 
}
#head{
  padding:10vw;
  padding-left: 10vw;
 
}
#first .card-title{
  font-weight: 600;
  color: white;
}
#first h2{
  color: yellow;
}

#first .card-text{
  color: rgb(255, 255, 255);
  font-weight: 400;

}
.Container{
  
  background: linear-gradient(44.42deg, #141413 28.4%, #1d0e0e 52.55%);
  height: 50vw;
  overflow: hidden;
  
}
#first .col-md-5 {
  margin-top: 10vw;
  background-image: url("Images/main.jpeg");
  background-size:cover;

border-radius: 30px;
border-color: 2px solid yellow;
height: 40vw;


  
}

.col-md-7{
  padding: 8vw;
}

.vid video{
}
.poster{
  text-align: center;
  background: linear-gradient(44.42deg, #141413 28.4%, #1d0e0e 52.55%);
  color: white;
  border-color: transparent;
}
.poster spam{
  color: #f5e616;
}
.poster p{
  padding:2vw
}
.poster h1{
  padding-top: 2vw;
}
.cert {
  height: 20vw;
}
.cert .box{
  float:left;
  padding: 10vw;
  width: 2vw;
  height: 2vw;
  
}
.cert .mess{
  float: right;
}
#az{
  background-image: url("Images/ms1.png");
  background-size: cover;
}
#pl{
  background-image: url("Images/ms2.jpg");
  background-size: cover;
}

#ai{
  background-image: url("Images/ms3.png");
  background-size: cover;
}
#mess1{
  background: linear-gradient(44.42deg, #141413 30.4%, #a10606 52.55%);
  height: 10vw;
  width: 25vw;
  margin-right: 2vw;
  margin-top: 15vw;
  border-radius: 25px;
  text-align: center;
  color: aliceblue;
}
#mess1 spam{
  color: #f5e616;
}

.work{
  height: 10vw;
  background-color: aquamarine;

}





@media screen and (max-width: 480px) {
  #first .col-md-5{
    background-size: cover;
    height: 100vw;
  }

  .Container{
    height: 160vw;
    width: 100%;
    
  }
  .cert .box{
    float: none;
    width: 100%;
    height: 2vw;
    padding: 50vw;
    
  }
  .cert{
    height: 50vw;
   
  }
  #mess1{
    height: 32vw;
    width: 100%;
  }
}




