.navbar-brand{
    margin-left: 50px;
  
}

.nav-item{
    border-right: 1px solid black;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    
    
  
    
}
.navbar-nav {
    text-align: center;
    margin-left: 3%;
  
  
   
   
}
.d-flex{
    position: absolute;
    right: 7rem;
}